/* CSS */

#mapStafford, #mapStoke, #mapTamworth, #whereAmI{
    width: 400px;
    height: 400px;
}

.hero.is-primary .hero-head a.nav-item{
    color: white;   
}

.hero.is-primary .hero-head a.nav-item.is-active{
    text-decoration: underline;   
}

.hero-foot ul li a{
    color: white;   
}

/*
#whereAmI{
    width: 40%;
    height: 400px;
}*/

.hero.is-primary{
    background-color: #43A047;  
}

