/* CSS */

#mapStafford, #mapStoke, #mapTamworth, #whereAmI{
    width: 400px;
    height: 400px;
}

.hero.is-primary .hero-head a.nav-item{
    color: white;   
}

.hero-foot a{
    color: white;   
}

/*
#whereAmI{
    width: 40%;
    height: 400px;
}*/
